{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Este es el listado de autores</h1>
{% for autor in object_list %} <!-- object_list es una lista de autores -->
<li>{{autor}}</li>
<button>
  <a href="{% url 'autores_detalle' autor.id %}">Detalle</a>
</button>
<button>
  <a href="{% url 'autores_editar' autor.id%}">Editar</a>
</button>
<button>
  <a href="{% url 'autores_borrar' autor.id %}">Borrar</a>
</button>
{% endfor %}
<br>
<br>
<button>
  <a href="{% url 'autores_crear' %}">Crear</a>
</button>
{% endblock %}